*/
* {
  box-sizing: border-box;
  text-align: center;
}
    /* Left Header Name */
header {
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-color: #dddddd;
	background: #FFFFFF;
    width: auto;
    height: 90px;
    font-family: "Georgia", "Times New Roman", Times, serif; 
    color: #ffffff;
}
    /* Right Header Links */
nav {
    height: 90px;
    width: 960px;
    margin: 0px auto;
    font-size: 24px;
    font-family: "Georgia", "Times New Roman", Times, serif; 
    color: #7777777;
}
    /* About Me */
body {
    background:url(../images/MainBackgroud.png);
    font-family: "Georgia", "Times New Roman", Helvetica, sans-serif; 
    color: #777777;
}

.container {
    width:960px;
    margin:50px auto;
}
h1 {
    color: #fff;
    font-size: 30px;
    text-align: center;
}
ul {
    font-size: 30px;
}
h2 {
    font-size: 50px;
    color: #4aaaa5;
    text-align: left;
}
p {
    font-size: 30px;
}
h3 {
    font-size: 25px;
    text-align: center;
    color: #4aaaa5;
}
    /* Footer*/
h4 {   
    font-size: 25px;
    color: #fff;
    font size:20px;
    text-align: center;
    position: relative;
}
    /* maincontent rules*/
h5 {
    text-align: center;
}
    /*contact page text*/
h6 {
    color: #4aaaa5;
    width: 650px;
    text-align: left;
    font-size: 30px;
}
h7 {
    color: #4aaaa5;
    width: 650px;
    font-size: 50px;
}
footer {
    border-top-style: solid;
    border-top-width: 9px;
    border-color: #4aaaa5;
    position: absolute;
    bottom: 100px;
    margin:0 auto 0 auto;
    height: 98px;
    line-height: 98px;
    background-color: #666666;
    width: 100%;
}
#name {
    float:left; 
    height: 70px;
    padding:10px;
    background-color: #4aaaa5;
}
#buttons {
    float: right;
}
        /* About Me Position */
#maincontent {
    border-style: solid;
    border-width: 2px;
    border-color: #dddddd;
    background: #FFFFFF;
    float: left;
    width: 650px;
    height: auto;
    padding:10px;
    background-color: #FFFFFF;
    text-align: center;
}
        /* Contact Me Position*/
#maincontent2 {
    border-style: solid;
    border-width: 2px;
    border-color: #dddddd;
    background: #FFFFFF;
    float: left;
    width: 620px;
    height: 750px;
    padding:20px;
    background-color: #FFFFFF;
    text-align: center;
}
#maincontent3 {
    border-style: solid;
    border-width: 2px;
    border-color: #dddddd;
    background: #FFFFFF;
    float: left;
    width: 600px;
    height: 100px;
    padding:0px;
    background-color: #FFFFFF;
    text-align: center;
}
        /* Connect Me Position*/
#connect {
    border-style: solid;
    border-width: 2px;
    border-color: #dddddd;
    background: #FFFFFF;
    float: right;
    height: auto;
    width: 270px;
    padding:2px;
    background-color: #FFFFFF;
}
#connect2 {
    border-style: solid;
    border-width: 2px;
    border-color: #dddddd;
    background: #FFFFFF;
    float: right;
    height: auto;
    width: 270px;
    background-color: #FFFFFF;
}
#bio-image {
    float: left;
	width: 189;
	height: 283px;
	margin-right: 30px;
}
#logo {
    width: 30%;
}
#portfolio-images-left {
    float: left;
    width: 75px;
    height: 75px;
    padding:5px;
    margin-left: 30px;
}
#portfolio-images-right{
    float: right;
    width: 75px;
    height: 75px;
    padding:5px;
    margin-right: 30px;
}