*/
* {
  box-sizing: border-box;
  text-align: center;
}
header {
	background: #4aaaa5;
	padding: 10px;
    height: 85px;
    margin: auto;
    padding: 100;
    color: #ffffff;
    position: fixed;
    top: 0;
}
body {
    margin: 0;
    padding: 100px;
    background: #ffffff;
    font-size: 24px;
    line-height: 32px;
    font-family: "Georgia", "Times New Roman", Times, serif; 
    color: #777777;
}
section {
}
#left {
    float: left;
    width: 50%;
    background: #FFFFFF;
    color:#777777;
}
#right {
    float: middle;
    width: 50%;
    background: #FFFFFF;
    color: #777777;
}
#full {
    width: 960px;
    background: #777777;
    overflow: auto;
}
#division {
    background: #FFFFFF;
    padding: px;
    margin-top: 20px;
}
* {
    box-sizing: 94px;
    text-align: center;
}
h1 {
	background: #4aaaa5;
    color: #fff;
    font-size: 30px;
}
h2 {
	font-size: 50px;
}
p {
    font-size: 30px;
}
h3 {
	font-size: 25px;
}
h4 {
	font size:20px;
}
footer {
    background: #666666;
    padding: 15px;
    color: #ffffff;
    font-size: 10px;
    border: 20 solid #fff;
}
#container {
	width: 1600;
	margin: auto;
}
#bio-image {
	float: left; width: 50%:
}
#main-bio {
	width: 100%;
}
#bio-image {
	width: 250px;
	height: 300px;
	margin-right: 20px;
}