*/
* {
  box-sizing: border-box;
  text-align: center;
}
body {
	margin: 0;
	padding: 0;
	background: #ffffff;
	font-size: 24px;
	line-height: 32px;
	font-family: "Georgia", "Times New Roman", Times, serif; 
	color: #777777;
}
#fixed{
    position:fixed;
    background: #ffffff;
    padding: 10px;
    margin-bottom: 0px;
    text-align: center;
    margin: 0;
}
header {
	background: #4aaaa5;
	padding: 10px;
    margin-bottom: 0px;
    color: #ffffff;
    border: 10px solid #eee;
}
section {
    padding: 20px;
    background: #ccc;
    margin-bottom: 20px;
}
#left {
    float: left;
    width: 50%;
    background: #fff;
    color:#777777;
}
#right {
    float: middle;
    width: 50%;
    background: #fff;
    color: #777777;
}
#full {
    clear: both;
    width: 100%;
    background: #eee;
    overflow: auto;
}
#division {
    background: #4aaaa5;
    padding: 20px;
    margin-top: 20px;
}
* {
    box-sizing: 94px;
    text-align: center;
}
h1 {
	background: #4aaaa5;
    color: #fff;
    font-size: 30px;
}
h2 {
	font-size: 50px;
}
p {
    font-size: 30px;
}
h3 {
	font-size: 25px;
}
h4 {
	font size:20px;
}
footer {
    background: #666666;
    padding: 15px;
    color: #ffffff;
    font-size: 10px;
    border: 20 solid #fff;
}
.container {
	width: 1000px;
	margin: 0 auto;
}
#main-bio,
#bio-image {
	float: left;width:50%:
}
#main-bio {
	width: 100%;
}
#bio-image {
	width: 250px;
	height: 300px;
	margin-right: 20px;
}